html {
    background-color: #e8e8e8;
    padding: 10px;
}

.enable-logo {
    height: 53px;
    position: relative;
    float:left;
}

.navigation-bar {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
}

.navigation-bar li {
    font-size:150%;
    display:inline;
    float: left;

}

.navigation-bar li:last-child{
    border-right:none;
    float: right;

}

.navigation-bar li a {
    display: block;
    color: #636363;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    color: #f00;
    background: #efefef;
}

.navigation-bar li a:hover {
    color: red;
}


section::after {
    content:"";
    display:table;
    clear:both    
}
.tableformat {
    margin-top: 1rem;
    border-radius: 10px;
    border:1px #111;
    background-color: white;
    width: 305px;
    padding: 5px;

}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.tableformat table tr td label,input{
    text-align: left;
    vertical-align: top;
    height:auto
}


#formsubmit {
    position: relative;
    left:38%;
    display: block;
}

.page-preview {
    display: grid;
    float: right;
    margin-top: 1rem;
    border-radius: 10px;
    border:1px #111;
    padding: -10px;
    background-color: #e8e8e8;
}

/* label history */

* {
    box-sizing: border-box;
}

.history-body {
    width: 67%;
    margin-top: 10px;
}

/* .boxes-container:after {
    content: "";
    display: table;
    clear: both;
}


.box {
    float: left;
    width: 25%;
    background-color: #fff;
    border-radius: 10px;
    margin:5px;
}

*/

#boxes-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    width: 30%;
    margin: 1%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    word-wrap:break-word;
}

.box p {
    margin: 2px;
} 

.iframe-container {
    position: fixed;
    top:10%;
    right: 0;
    width: 381px;
    height: 80%;
}
    


iframe {
    position: relative;
    transform: scale(0.90);
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    border-radius: 10px;
}