{% extends 'base.html' %}

{% block content %}
    <title>{% block title %} build Page {% endblock %}</title>
    <form method="post" class="tableformat">
        <table>
            <ul>
                <tr>
                    <td><label for="client">Client: </label></td>
                    <td><input type="text" name="client" placeholder="Client Name" value="{{ request.form['client'] }}"></td>
                </tr>
                <tr>
                    <td><label for="user">User: </label></td>
                    <td><input type="text" name="user" placeholder="User's name" value="{{ request.form['user'] }}"></td>
                </tr>
                <tr>
                    <td><label for="duedate">Due Date: </label></td>
                    <td><input type="date" name="duedate" value="{{ request.form['duedate'] }}"></td>
                </tr>
                <tr>
                    <td><label for="ticketno">Ticket No. </label></td>
                    <td><input type="text" name="ticketno" placeholder="T########.####" value="{{ request.form['ticketno'] }}"></td>
                </tr>
                <tr>
                    <td><label for="serialno">Serial No. </label></td>
                    <td><input type="text" name="serialno" placeholder="Device Serial No" value="{{ request.form['serialno'] }}"></td>
                </tr>
                <tr></tr>
                    <td><label for="ettag">ET tag: </label></td>
                    <td><input type="text" name="ettag" placeholder="Device Serial No" value="{{ request.form['serialno'] }}"></td>
                </tr>
                <tr>
                    <td><label for="addnote">Additional Notes: </label></td>
                    <td><input type="text" name="addnote" placeholder="Any additional notes that could be useful" value="{{ request.form['addnote'] }}"></td>
                </tr>
            </ul>
        </table>
        <input type="submit">
    </form>
{% endblock %}