{% extends 'base.html' %}

{% block content %}
    <title>{% block title %} Label history {% endblock %}</title>
    <ul>
        {% for file in files %}
            {% if file != "enable-logo.png" %}
                {% if file != "history_stylesheet.css" %}
                    <li><a href="{{ url_for('open_file', filename=file) }}" target="myframe">{{ file }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <aside class="page-preview">
        <iframe name="myframe" width="380.5" height="574.4">
        
        </iframe>
    </aside>
{% endblock %}